<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!--<welcome />-->
                    <table class="table-auto">
                        <tr class="bg-gray-900 text-white">

                            <th class="px-2 py-1 text-sm font-bold text-left">ID</th>
                            <th class="px-2 py-1 text-sm font-bold text-left">Workout Date</th>
                            <th class="px-2 py-1 text-sm font-bold text-left">Name</th>
                            <th class="px-2 py-1 text-sm font-bold text-left">Exercise Name</th>
                            <th class="px-2 py-1 text-sm font-bold text-left">Goal</th>
                            <th class="px-2 py-1 text-sm font-bold text-left">Current</th>
                            <th class="px-2 py-1 text-sm font-bold text-left">Percentage</th>
                        </tr>
                        <tr :class="entry.goal > entry.current ? 'unachieve' : 'achieve'" v-for="entry in entries.data">
                            <td class="px-2 py-1 text-sm text-left">{{ entry.id }}</td>
                            <td class="px-2 py-1 text-sm text-left">{{ entry.workout_date}}</td>
                            <td class="px-2 py-1 text-sm text-left">{{ entry.user_name}}</td>
                            <td class="px-2 py-1 text-sm text-left">{{ entry.exercise_name}}</td>
                            <td class="px-2 py-1 text-sm text-left">{{ entry.goal}}</td>
                            <td class="px-2 py-1 text-sm text-left">{{ entry.current}}</td>
                            <td class="px-2 py-1 text-sm text-left">{{ entry.percentage}}</td>
                        </tr>
                    </table>
                    <div class="p-5 flex justify-end">
                        <inertia-link class="px-2" :href="entries.prev_page_url">Previous</inertia-link>
                        <inertia-link class="px-2" :href="entries.next_page_url">Next</inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'

    export default {


        components: {
            AppLayout,
        },
        props: {
            entries: Object
        },

    }
</script>
